/* Style the nav area */
nav {
    background-color: darkblue;
    padding: 10px;
}

/* Style links inside nav */
nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Style the main page heading */
h1 {
    color: darkblue;
}

/* Style all images */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Style all paragraphs */
p {
    padding: 10px;
}

/* Style the main element */
main {
    max-width: 840px;
}

/* Style the aside section */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Style image in aside separately */
aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 15px gray;
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}